<div class="row">
    <div class="col-xs-4">
    <div class="row">
        <p>בחירת סוג טיפול</p>
         <div class="col-xs-4">
             <label><input type="checkbox" > {{vm.treatmentType[1]}}</label>
               <label><input type="checkbox" > {{vm.treatmentType[2]}}</label>
                 <label><input type="checkbox" > {{vm.treatmentType[3]}}</label>
         </div>
        </div>
        </div>
  <div class="row">
     <div class="b-tooth" ng-repeat="tooth in vm.model.adultTeeth.teethDown" ng-class="{'b-tooth-selected':tooth.selectedTooth==true}" ng-click=" vm.selectTeeth(tooth)">{{tooth.name}}</div>
      </div>
      <div class="row">
         
          </div>
</div>
