<div class="container">
    <p>request</p>
    <div class="row">
        <div class="col-xs-4">
              <label>שם פרטי</label>
                <input ng-model=''>
        </div>
          <div class="col-xs-4">
              <label>שם משפחה</label>
                <input ng-model=''>
        </div>
         <div class="col-xs-4">
              <label>תאריך לידה</label>
                <input ng-model=''>
        </div>
        </div>
         <div class="row">
        <div class="col-xs-12">
              <label>כתובת</label>
                <input ng-model=''>
        </div>
        </div>
         <div class="row">
        <div class="col-xs-4">
              <label>שם תוכנית</label>
                <input ng-model=''>
        </div>
         <div class="col-xs-4">
              <label>סוג כיסוי ביטוחי</label>
                <input ng-model=''>
        </div>
         <div class="col-xs-4">
              <label>מספר פוליסה</label>
                <input ng-model=''>
        </div>
        </div>
          <div class="row">
        <div class="col-xs-4">
              <label>תאריך תחילת ביטוח</label>
                <input ng-model=''>
        </div>
        <div class="col-xs-4 col-xs-offset-4">
              <label>תאריך סיום ביטוח</label>
                <input ng-model=''>
        </div>
        </div>
     
        <tooth-picker></tooth-picker>
        <pic-upload></pic-upload>
</div>
